body{
	background-color: grey;
}


input {
	position: relative;
}

#inputmiddle {
	width: 20px;
}

#lbmid {
	margin-right: 41px;
}

#lblastname {
	margin-right: 2px
}

#lbslc {
	margin-right: 42px
}

#lbgrade {
	margin-right: 32px
}

#lbemail {
	margin-right: 32px
}

#lbOsis {
	margin-right: 35px
}

#btnsubmit {
	width: 357px
}

#calculation {
	width: 252px;
	height: 60px;
}
#btnseven, #btneigth, #btnnine, #btndivision, #btnfour, #btnfive, #btnsix, #btnmultiplication, #btnone, #btntwo, #btnthree, #btnminus, #btnsign, #btnzero, #btndot, #btnplus {
	width: 60px;
	height: 60px;
	font-size: 20px;
}


#btnequal
{
	width: 252px;
	height: 60px;
}

#btnmain
{
	width:120px;
}

